.header1{
    
    background-color: #000;
}
.header1 .container{
    display: flex;

}
.header1 .container a {
    display: flex;
    text-decoration: none;
    color: #fff;   
    margin:0px 20px 0px 40px;
}
.header1 .container a:hover{
    color:beige;
    border: 2px solid beige ;
    border-radius: 10%;
}
.header1 .container span.ha{
   
    margin-top: 10px;
}